.hero{
    height: 95vh;
    /* to be your image at the first you should be the second */
    background-image: linear-gradient(to right bottom , rgba($color-primary,0.8),rgba($color-primary-dark,0.8)),url(./assets/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100% 0,100% 75vh,0 100%);
    position: relative;
    &__logo-box{
        position: absolute;
        left: 40px;
        top:40px;
    }
    &__text-box{
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
      }
}
.logo{
height:35px;
}
.section-about{
    background-color: $color-gray-light-1;
    padding:25rem 0;
    margin-top: -20rem;
}